In [18]:
import pandas as pd
import requests
import json

In [19]:
df = pd.read_csv('bank-additional-full.csv', sep=';')
df.columns = df.columns.str.lower().str.replace(" ", "_")

binary_values = {
    'no': 0,
    'yes': 1
}
df["y"] = df["y"].map(binary_values)

del df['loan']
del df['housing']
del df['day_of_week']
del df['marital']
del df['education']
del df['default']

In [42]:
samples = df.sample(n=5)
samples

,age,job,contact,month,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
4224,54,technician,telephone,may,182,1,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,0
36100,49,admin.,cellular,may,362,1,999,1,failure,-1.8,92.893,-46.2,1.266,5099.1,0
29928,33,blue-collar,cellular,apr,243,2,999,1,failure,-1.8,93.075,-47.1,1.405,5099.1,0
30452,60,admin.,cellular,may,1602,2,999,0,nonexistent,-1.8,92.893,-46.2,1.354,5099.1,1
40593,32,admin.,cellular,sep,154,1,999,0,nonexistent,-1.1,94.199,-37.5,0.884,4963.6,0

In [43]:
url = 'http://localhost:9696/predict'
# url = 'https://heart-disease-pred-service.herokuapp.com/predict'

for sample in samples.apply(lambda x: json.loads(x.to_json()), axis=1):
    val = sample.pop('bank-marketing-system', None)
    response = requests.post(url, json=sample).json()
    print(response, val)

{'subscribe_term_deposit': False, 'subscribe_term_deposit_probability': 0.0010906793177127838} None
{'subscribe_term_deposit': False, 'subscribe_term_deposit_probability': 0.11770123988389969} None
{'subscribe_term_deposit': False, 'subscribe_term_deposit_probability': 0.02579903043806553} None
{'subscribe_term_deposit': True, 'subscribe_term_deposit_probability': 0.8594002723693848} None
{'subscribe_term_deposit': False, 'subscribe_term_deposit_probability': 0.12009265273809433} None